<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-10 col-md">
                <h5>Our Github's</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="https://github.com/JustLike420">Vladimir</a></li>
                    <li><a class="link-secondary" href="https://github.com/TheTrueDarckuser">Ilya</a></li>
                    <li><a class="link-secondary" href="https://github.com/JustLike420">Just_Like</a></li>
                </ul>
            </div>
            <div class="col-10 col-md">
                <h5>Our Vk's</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="link-secondary" href="https://vk.com/just_like248">Vladimir</a></li>
                    <li><a class="link-secondary" href="https://vk.com/il.ryzhov">Ilya</a></li>
                    <li><a class="link-secondary" href="https://vk.com/fton852_exp">Nikita</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>